body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    /* background-color: #333; */
    background-image: url("https://media.istockphoto.com/photos/foggy-glass-on-window-with-written-finger-word-yellow-color-hope-in-picture-id1219192573?k=20&m=1219192573&s=612x612&w=0&h=XRAKpPJdhTgcAd8N-5RrbBkeWUpMlqFLTK7UoyLeps8=");
 background-repeat: no-repeat;    
/* background-repeat: space;  */
background-size: cover;

}

h2{
    color: aqua;
    background-color: blue;
}

h3{
    color: blue;
}

.title{
    color: brown;
    background-color: yellow;
}
#paragraph1{
    background-color: aquamarine;
    color: azure;
}
p{
    color: blue;
}
#paragraph2{
    color: greenyellow;
    border-color: white;
    border-width: 10px;
    border-style: solid;
padding: 10px;  
margin: 50px;
    
}
.container{
    width: 300px;
}
a{
    text-decoration: none;
}
a:hover{
    color: red;
    font-size: 30px;
}
a:visited{
    font-size: 30px;
    color: red;
}
.afbeelding{
    width: 50px;
}

button{
    height: 50px ;
    width: 150px;
    background-color: #6e3;
    color: #9a3;
    font-size: large;
    border-radius: 20px 10px;
    border: none;
}
button:hover{
    background-color: red;
    color: white;
 cursor: pointer;
 border: 3px dashed green;
}